aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==24.2.0
comm==0.2.2
concreteproperties==0.6.4
contourpy==1.3.0
cycler==0.12.1
cytriangle==1.0.3
decorator==5.1.1
exceptiongroup==1.2.2
executing==2.1.0
fonttools==4.54.1
frozenlist==1.5.0
idna==3.10
imageio==2.36.0
ipython==8.29.0
ipywidgets==8.1.5
jedi==0.19.1
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
markdown-it-py==3.0.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.5.0
multidict==6.1.0
numpy==1.26.4
openseespymac==3.4.0.2
packaging==24.1
parso==0.8.4
pexpect==4.9.0
pillow==11.0.0
prettytable==3.12.0
prompt_toolkit==3.0.48
propcache==0.2.0
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
PyNiteFEA==0.0.96
pyparsing==3.2.0
python-box==7.2.0
python-dateutil==2.9.0.post0
rich==13.9.3
scipy==1.14.1
sectionproperties==3.5.0
shapely==2.0.6
six==1.16.0
stack-data==0.6.3
traitlets==5.14.3
trusspy==3.0.1
typing_extensions==4.12.2
wcwidth==0.2.13
widgetsnbextension==4.0.13
yarl==1.17.1
